<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/WEB-INF/css/bootstrap.min.css}"/>


    <script th:src="@{/WEB-INF/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{/WEB-INF/js/bootstrap.min.js}"></script>
</head>
<body>
    <h1>Ты смог</h1>
    <div th:include="template/navigation :: copy"></div>
</body>
</html>