<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/test.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/simple-sidebar.css}"/>

    <script th:src="@{../resources/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{../resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="header">Главная страница</div>

    <div class="content">
        <div  th:include="template/navigation :: copy(content=1)"></div>
ыываывсывсывсывсывсывdsdsdf
        sd
        fsdfsd
        fsdfsd
        f
        sdf
        sd
        f
        sdf
    </div>
    <div id="sidebar">
        <ul>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>

    <div class="footer">Тест </div>
</div>
</body>
</html>