<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/test.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/toastr.css}"/>
    <script th:src="@{../resources/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{../resources/js/toastr.min.js}"></script>
    <script th:src="@{../resources/js/bootstrap.min.js}"></script>

    <script language="javascript">
        function a()
        {
            toastr.info('Are you the 6 fingered man?');
            setTimeout(a, 2000);
        }

    </script>
</head>

<body>
<div class="bkcolor" th:include="template/navigation :: nav-bar"></div>
<div class="row">
    <div class="col-xs-3">
        <div th:include="template/navigation :: left-sidebar"></div>
    </div>
    <div class="col-xs-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mainSetting">Основные</a></li>
            <li><a data-toggle="tab" href="#securitySetting">Безопасность</a></li>
        </ul>
        <div class="tab-content">
            <div id="mainSetting" class="tab-pane fade in active">
                <h3>Основные</h3>
                <div>
                    <form method="post" th:action="@{/MainPage/saveSetting}" enctype="multipart/form-data" role="form">

                        <div class="row">
                            <div class="col-md-4"> <label for="phoneSms"> Введите Имя Пользователя </label> </div>
                            <div class="col-md-4"><input id="phoneSms" type="tel" name="phone"/></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label for="textSms"> Введите подпись </label></div>
                            <div class="col-md-4"> <input id="textSms" type="text" name="text"/></div>
                        </div>

                        <div class="form-group">

                            <button type="submit" class="btn btn-success" OnClick="a();" >Сохранить </button>
                        </div>

                    </form>
                </div>
            </div>
            <div id="securitySetting" class="tab-pane fade">
                <h3>Безопасность</h3>
            </div>
        </div>

    </div>

</div>

</body>
</html>