<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/test.css}"/>

    <script th:src="@{../resources/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{../resources/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:include="template/navigation :: nav-bar"></div>
    <div class="row">
        <div class="col-xs-3">
            <div th:include="template/navigation :: left-sidebar"></div>
        </div>
        <div class="col-xs-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#oneSms">Смс</a></li>
                <li><a data-toggle="tab" href="#manySms">Рассылка</a></li>
            </ul>
            <div class="tab-content">
                <div id="oneSms" class="tab-pane fade in active">
                    <h3>Отправка смс</h3>
                    <div>
                        <form method="post" th:action="@{/MainPage/smsSending}" enctype="multipart/form-data" role="form">
                            <div class="form-group">
                                <label for="phoneSms"> Введите телефон </label>
                                <input id="phoneSms" type="tel" name="phone"/>
                                <label for="textSms"> Введите текст </label>
                                <input id="textSms" type="text" name="text"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div id="manySms" class="tab-pane fade">
                    <h3>Рассылка</h3>
                    <div>
                        <p>Шаблон для рассылки вы можете скачать <a th:href="@{/MainPage/downloadFile}">шаблон</a></p>
                    </div>
                    <div>
                        <form method="post" th:action="@{/MainPage/smsSending}" enctype="multipart/form-data" role="form">
                            <div class="form-group">
                                <label for="patterFileSms">Выберите файл </label>
                                <input id="patterFileSms" type="file" name="file"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        footer
    </div>
</body>
</html>