<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/test.css}"/>
</head>
<body>

<div class="container">
    <H1>What's wrong</H1>

    <div class="footer">Тест</div>
</div>
</body>
</html>