<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/WEB-INF/css/RoleList.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/WEB-INF/css/bootstrap.css}"/>

    <script th:src="@{/WEB-INF/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{/WEB-INF/js/bootstrap.min.js}"></script>
    <script th:src="@{/WEB-INF/js/ajaxExample.js}"></script>
</head>
<body>

<div th:fragment="nav-bar">
    <ul class="nav nav-tabs">
        <li th:class="${content}==1?active"><a th:href="@{/MainPage}">Главная</a></li>
        <li th:class="${content}==2?active"><a th:href="@{../MainPage/sms}">СМС</a></li>
        <li><a th:href="@{../MainPage/user}">Пользователь</a></li>
        <li><a th:align="right" th:href="@{/logout}">Выход</a></li>
    </ul>
</div>

<div th:fragment="left-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li><a th:href="@{/MainPage/smsSend}">Отправить смс</a></li>
        <li><a th:href="@{/MainPage/smsStatistic}">СТатистика</a></li>
        <li><a href="#">Платежи</a></li>
        <li><a href="#">Настройки</a></li>
    </ul>
</div>
</body>

</html>
