<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/RoleList.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
    
     <script th:src="@{/js/jquery-2.2.0.min.js}"></script>
     <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body >
   
<div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container">
	<div class="align_login">
            <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav row">
		<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
            </ul>
            <div class="row"><div class="col-sm-2 active-menu"></div></div>
            </div>
	</div>
    </div>
</div>

<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
	<div id="home-row-1" class="row clearfix">
            <div class="col-12">
		<h1 class="font-semibold">Hello <span class="font-thin">!</span></h1>
		<h4 class="font-thin">Please <span class="font-semibold">enter your login</span>.</h4>
		<br></br>
            </div><!-- /col-12 -->
        </div>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/login}" method="post">               
            <fieldset>
                <div class="imput_data">
                <div th:if="${param.error}" class="alert alert-error">    
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
                <label class="text_align" for="login">Username</label>
                <input  type="text" id="ssoId" name="ssoId"  placeholder="Ваш логин"/>        
                <label class="text_align" for="password">Password</label>
                <input type="password" id="password" name="password"  placeholder="Ваш пароль"/>
                </div>
                    <button type="submit" class="btn btn-success btn-lg">Log in</button>
            </fieldset>
        </form>
    </div> 
    </div>
</div>
</body>
</html>